<h2>hello {{user?.username}}</h2>

<h1>{{title}}</h1>

<div>
    <b>Search for gif:</b> <input type="search" placeholder= {{placeholder}} [(ngModel)]="searchTerm"/>
    <button (click)="handleSerchButton()">Go...</button>
</div>

<a href={{href}}>Searches history...</a>
<button (click)="goToUserHistory()">Go to history...</button>

<br/>

<div>
    <div *ngIf="message">
        <h6>{{message}}</h6>
    </div>
    <div *ngIf="isValid">
        <h3>GIF result</h3>
        <div *ngFor="let g of gifsResult | paginate: { itemsPerPage: 10, currentPage: page }">
            <app-gif [imageUrl]="g.images.original.url"></app-gif>
        </div>
        <div *ngIf="searchTerm">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
</div>